<form id="clientLogin" method="post" action="{{ setpassword_action }}">
    <ul>
    <li><input type="hidden" name="email" id="email" value="{{ email }}" /></li>
    {% if invite_code %}
        <li><input type="hidden" name="invite_code" id="invite_code" value="{{ invite_code }}" /></li>
    {% endif %}
    <li><label for="password1">new&nbsp;password:</label><input type="password" name="password1" id="password1" style="width: 200px;"/></li>
    <li><label for="password2">confirm:</label><input type="password" name="password2" id="password2" style="width: 200px;"/></li>
    <li><input type="submit" class="submit" value="{{ setpassword_button }}" /></li>
    </ul>
</form>
