<ul class="docnav">
<li><a href="/docs/overview.html">Overview</a></li>
<li><a href="/docs/tutorial.html">Tutorial</a>
    <ul>
    <li><a href="/docs/step1.html">Step 1: Get an account on Djangy</a></li>
    <li><a href="/docs/step2.html">Step 2: Install the software you need</a></li>
    <li><a href="/docs/step3.html">Step 3: Create a Djangy application</a></li>
    <li><a href="/docs/step4.html">Step 4: Make a Django application</a></li>
    <li><a href="/docs/step5.html">Step 5: Push your code to Djangy</a></li>
    </ul>
</li>
<li><a href="/docs/configfiles.html">Optional configuration files</a></li>
<li><a href="/docs/databases.html">Using a database on Djangy</a></li>
<li><a href="/docs/eggs.html">Using eggs and libraries</a></li>
<li><a href="/docs/auth.html">Django admin panel and auth</a></li>
</ul>
